.car{
  display:flex;
  flex-direction:column;
  height:100%;
  .details_top{
    width:100%;
    height: 0.5625rem;
    background:#ff5073;
    display:flex;
    justify-content:center;
    flex-direction:initial;
    padding-left:0.125rem;
    padding-right:0.125rem;
    box-sizing:border-box;
    .d_t_zhong{
      display:flex;
      justify-content:center;
      flex-direction:column;
      color:#fff;
    }
    .d_t_left,.d_t_right{
      width:0.43rem;
      display:flex;
      justify-content:center;
      flex-direction:column;
      .d_t_link{
        height:0.43rem;
        border-radius:50%;
        display:flex;
        justify-content:center;
        flex-direction:column;
      } 
    }
    .d_t_zhong{
      flex:1; 
    }
    .d_t_left{
      .icon-jiantou-{
        font-size:0.3rem;
        display: flex;
        justify-content: center;
        color:#fff;
      }
    }
    .d_t_right{
      .icon-shouye{
        font-size:0.3rem;
        display: flex;
        justify-content: center;
        color:#fff;
      }
    }
    .d_t_zhong{
      text-align: center;
    }
  }
  .car_main{
    width:100%;
    flex:1;
    background:#eee;
    font-size:12px;
    overflow-y:scroll;
    .main_korea,.main_china{
      width:100%;
      margin-bottom:0.25rem;
      .m_k_top{
        width:100%;
        height:0.5625rem;
        background:#fff;
        box-sizing:border-box;
        padding: .125rem .23rem;
        display:flex;
        flex-direction:initial;
        margin-bottom:0.125rem;
        .m_k_top_logo_box{
          margin-left:0.15625rem;
          height:100%;
          
          width:1.16rem;

          .m_k_top_logo{
            border-radius: .5625rem;
            width:100%;
            height:0.25rem;
            line-height:0.25rem;
            color:#fff;
            padding-left:.28rem;
            box-sizing:border-box;
            background:url('../../imgs/china.png') no-repeat .03rem .03rem #69f;
            background-size: .2rem .2rem;
          }
        }
        .m_k_top_text{
          color:#666;
          flex:1;
          margin-left:0.125rem;
        }
      }
      .m_k_bottom{
        width:100%;
        padding: .125rem .23rem;
        height:0.9375rem;
        box-sizing:border-box;
        background:#fff;
        border-top:1px solid #ddd;
        display: flex;
        flex-direction:column;
        p{
          flex:1;
          text-align:right;
          .mkb_text{
            font-size:14px;
          }
          .mkb_color{
            color:#ff5073;
          }
        }
      }
      .m_k_main{
        height:1.63rem;
        width:100%;
        padding: .234375rem .23rem;
        box-sizing:border-box;
        display:flex;
        background:#fff;
        border-bottom:1px solid   #efc;
        .main_right{
          margin-left: 0.15625rem;
          flex:1;
          display:flex;
          img{
            width:1.16rem;
            height:100%;
          }
          .main_right_text{
            flex:1;
            display:flex;
            flex-direction:column;
            .text_top{
              height: 1rem;
              .text_title{
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                word-break: break-all;
                -webkit-box-orient: vertical;
                overflow:hidden;
              }
              .text_guige{
                p{
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  word-break: break-all;
                  -webkit-box-orient: vertical;
                  overflow:hidden;
                }
                color:#999;
              }
            }

            .text_price{
              height:0.3175rem;
              color:#999;
              .t_p_span{
                color:#ff5073;
              }
            }
          }
        }
      }
    }
    .main_china{
      .m_k_top{
        .m_k_top_logo_box{
          .m_k_top_logo{
            background:url('../../imgs/epass.png') no-repeat .03rem .03rem #a357fa;
            background-size: .2rem .2rem;
          }
        }
      }
    }
  }
  .car_foot{
    display:flex;
    height: 0.7rem;
    padding-left:0.23rem;
    .foot_right{
      margin-left: 0.15625rem;
      flex:1;
      height:100%;
      display:flex;
      flex-direction:inherit;
      .all_select_text{
        text-align: center;
        line-height:0.7rem;
        font-size:12px;
        color:#666;
      }
      .foot_price,.foot_jiesuan{
        flex:1;
      }
      .foot_price{
        text-align:right;
        color:#666;
        p{
          padding-right:0.07125rem;
          font-size:12px;
          span{
            font-size:16px;
            color:#ff5073;
          }
        }
      }
      .foot_jiesuan{
        background:#ff5073;
        color:#fff;
        font-size:12px;
        text-align: center;
        line-height:0.7rem;

      }
    }
  }
}
.center{
  display:flex;
  justify-content:center;
  flex-direction:column;
}
        .m_k_top_all_select_box{
          width:0.21875rem;
          height:100%;

          .m_k_top_all_select{
            width:0.21875rem;
            height:0.21875rem;
            border:1px solid #888;
            border-radius:50%;
          }
        }