@charset "utf-8";
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select,figure,figcaption,button{margin: 0;padding: 0;}
em{font-style: normal;}
li{list-style: none;}

a{text-decoration:none;color:#fff;}

img{border:none;vertical-align: baseline;display:inline-block}
table{border-collapse: collapse;}
textarea{resize: none;overflow: hidden;}
body{
	font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
	// overflow-x:hidden;
	// overflow-y:hidden;	
}
body,html{
	height:100%;
}

$FontColor:#fff;
$MainColor:#34495e;

